body {
    font-family: Arial, Helvetica, sans-serif;
    background: url("IMG_3891.jpg") ;
}

#upper_blank {
    width: 450px;
	height: 100px;
}

#lower_blank {
    width: 450px;
}

#communicate {
    width: 318px ;
    height: 162px ;
}

#content {
    margin: auto;
}

.td_right {
    width: 40px;
    height: 40px;
    align: center;
}

.td_space_right {
    width: 64px ;
    height: 40px ;
    align: center ;
}

.td_half_space_right {
    width: 32px ;
    height: 40px ;
    align: center ;
}

.td_right_bigger {
    width: 54px ;
    height: 40px ;
    align: center ;
}

.td_space_right_bigger {
    width: 50px ;
    height: 40px ;
    align: center ;
}

.td_left  {
    width: 40px ;
    height: 40px ;
    align: center ;
}

/* The border, padding, margin, width and height values MUST have units or ignored */
.button_right {
    width: 42px ;
    height: 35px ;
    border: 1px ;
    border-color: lightgrey ;
    border-radius: 0px ;
    border-style: solid ;
    padding: 0px ;
    color: black ;
    background: white ;
    margin: 0px ;
    font-size: 14pt ;
    font-weight: bold ;
    font-family: arial ;
}

.button_right_large {
    width: 60px ;
    height: 35px ;
    border: 1px ;
    border-color: lightgrey ;
    border-radius: 0px ;
    border-style: solid ;
    padding: 0px ;
    color: black ;
    background: white ;
    margin: 0px ;
    font-size: 10pt ;
    font-weight: bold ;
    font-family: arial ;
}

.button_left {
    width: 40px ;
    height: 40px ;
    border: 1px ;
    border-color: grey ;
    border-radius: 0px ;
    border-style: solid ;
    padding: 1px ;
    color: black ;
    background: white ;
    margin: 1px ;
    font-size: 14pt ;
    font-weight: bold ;
    font-family: arial ;
}

.button_left_disabled {
    width: 40px ;
    height: 40px ;
    border: 1px ;
    border-color: grey ;
    border-radius: 0px ;
    border-style: solid ;
    padding: 1px ;
    color: black ;
    background: black ;
    margin: 1px ;
    font-size: 14pt ;
    font-weight: bold ;
    font-family: arial ;
}

.button_right_disabled {
    width: 60px ;
    height: 37px ;
    border: 1px ;
    border-color: lightgrey ;
    border-radius: 0px ;
    border-style: solid ;
    padding: 0px ;
    color: white ;
    background: black ;
    margin: 0px ;
    font-size: 10pt ;
    font-weight: bold ;
    font-family: arial ;
}

label {
    display: block;
    width: 10em;
    text-align: right;
    padding-right: 1em;
    float: left;
}
input {
    display: block;
    width: 15em;
	float: center;
}
br {
    clear: left;
}